.menu {
  padding: 30px 20px;
  border-bottom: 10px solid rgba(61, 40, 62,1);
}

@media (min-width: 641px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1300px) {
  .menu {
    flex: 1;
  }
}